[submodule "html4newbie"]
	path = html4newbie
	url = https://github.com/rayleighko/html4newbie.git
[submodule "css4newbie"]
	path = css4newbie
	url = https://github.com/rayleighko/css4newbie.git
[submodule "js4newbie"]
	path = js4newbie
	url = https://github.com/rayleighko/js4newbie.git
